.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  .image {
    display: block;
    object-fit: cover;
    width: 100px;
    margin-top: 20px;
  }
  .title {
    margin-top: 20px;
    font-family: Roboto-Medium;
    font-size: 22px;
  }
  .inputs {
    margin-top: 20px;
    width: 80%;
    .inputField {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      -webkit-animation: bounce 0.6s ease-out;
      animation: bounce 0.6s ease-out;

      span {
        position: absolute;
        left: 0;
        top: 0;
        color: #333;
        height: 100%;
        border-right: 1px solid #666666;
        text-align: center;
        width: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      input {
        width: 100%;
        padding: 8px 10px 9px 50px;
        height: 40px;
        border: 1px solid #666666;
        font-size: 15px;
        font-family: Roboto-Regular;
        box-sizing: border-box;
        outline: none;
        border-radius: 8px;
      }
    }
    .inputsRow {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .half {
        width: 48%;
        float: left;
      }
    }
    .selectContainer {
      border-radius: 8px;
      width: 100%;
      height: 40px;
      font-size: 15px;
      font-family: Roboto-Regular;
      padding: 8px 10px;
      cursor: pointer;
      color: #7b7b7b;
      border: 1px solid #666666;
      background: #fff;
      transition: all 0.2s ease;
      &::-ms-expand {
        display: none;
      }
      &:hover, &:focus {
        background: #fafafa;
        outline: none;
      }
    }
  }
  .button {
    cursor: pointer;
    margin-top: 70px;
    outline: none;
    width: 180px;
    border: none;
    border-radius: 18px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Roboto-Medium;
    background-color: rgb(241, 118, 138, 1);
    color: #ffffff;
    font-size: 16px;
  }
}