.button {
  cursor: pointer;
  margin-top: 50px;
  outline: none;
  width: 180px;
  border: none;
  border-radius: 18px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Roboto-Medium;
  background-color: rgb(241, 118, 138, 1);
  color: #ffffff;
  font-size: 16px;
}