.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  .image {
    display: block;
    object-fit: cover;
    width: 200px;
    margin-top: 20px;
  }
  .title {
    font-family: LoveLikeThis;
    margin-top: 40px;
    font-size: 50px;
  }
  .subTitle {
    margin-top: 50px;
    font-family: Roboto-Bold;
    font-size: 18px;
    line-height: 24px;
    width: 40%;
    text-align: center;
  }
  .registeredUser {
    display: flex;
    margin-top: 4px;
    color: #666666;
    font-family: Roboto-Regular;
    font-size: 13px;
    .login {
      margin-left: 4px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}